* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  color: #ffffff;
  background: url("https://www.wallpapertip.com/wmimgs/26-268627_hd-country.jpg");
  opacity: 0.9;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

article {
  background-color: rgba(0, 0, 0, 0.7);
}

input {
  margin: 2rem;
  width: 50%;
}

h2 {
  margin: 1rem 0 2rem 0;
}

.text {
  display: flex;
  margin: 2rem 1rem 2rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: green;
}

.horseList {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  margin: 0 1rem 1rem 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: #903749;
  color: rgb(255, 255, 255);
  border: solid 0.1px black;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 1px 1px black;
  transition: 0.2s ease-in-out;
}
