* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2b2e4a;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: rgb(253, 253, 253);
}

a:hover {
  color: green;
}

img {
  max-width: 5rem;
  border-radius: 40px;
}
