<main>
  <button (click)="switchImportant()">Important ?</button>

  <article>
    <p [ngClass]="{ isImportant: isImportant }">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt vel
      natus aperiam expedita esse numquam animi eum exercitationem. In, aliquid.
      Impedit voluptatibus praesentium, voluptatum aut adipisci voluptas fugiat
      sequi architecto ad amet autem? Accusamus inventore ullam recusandae omnis
      hic officiis vero suscipit molestiae libero praesentium. Ea harum amet
      accusantium cumque soluta illo expedita omnis officia dicta ducimus,
      suscipit a fugiat. Nesciunt, est, animi quae qui quos eius dolores non
      consectetur placeat mollitia quibusdam praesentium maxime , laboriosam
      aspernatur!
    </p>
    Quo explicabo officiis sint harum possimus inventore labore minima quibusdam
    quae? Incidunt, quibusdam? Excepturi quaerat repellat autem perferendis
    adipisci laboriosam soluta quae consequatur hic. Magni suscipit sit nostrum
    corrupti repellat facere quasi aut cum voluptatibus sequi molestias,
    provident iusto quidem aliquam, totam quod dolor, veritatis pariatur amet
    recusandae praesentium! Hic beatae accusantium, eius nam voluptatibus dicta
    laborum quam. Nostrum, illo quibusdam. Corporis aliquid odit facere cum aut
    iure, nesciunt impedit. Obcaecati eaque maxime fuga voluptatem saepe facilis
    aliquid magni ad, asperiores quis debitis? Nostrum omnis modi aperiam? Iusto
    animi vero quidem earum ab quod enim inventore neque beatae harum eaque
    officia nemo numquam a, ducimus modi aliquid esse veritatis cum alias
    consequuntur! Earum, ab qui aperiam pariatur molestias eius quae recusandae
    consequuntur odit sapiente architecto doloremque quasi accusamus temporibus
    eum esse nostrum quisquam velit neque nisi corrupti? Nihil quaerat ipsa quos
    magni labore ut pariatur minus ipsum cumque recusandae consequatur, id
    reiciendis dolores qui nostrum rem laboriosam dignissimos laudantium!
    <p [ngClass]="{ isImportant: isImportant }">
      Delectus amet inventore dolore quod illum nam aliquid id molestiae sunt
      adipisci debitis incidunt et laudantium vitae, suscipit esse iure! Ipsa,
      dolores id, ullam eaque quae deleniti quisquam exercitationem officia
      aliquam veritatis aliquid dicta rerum quibusdam ex maxime architecto. Ex,
      cum rerum eveniet repudiandae quo quisquam laudantium
    </p>
    perferendis distinctio possimus exercitationem natus nihil in ullam est a
    reprehenderit iure tempora quaerat similique sequi deserunt fuga aliquam
    aperiam! Dicta iusto a repellendus, error maxime temporibus dolor eligendi
    facilis eaque consectetur eius ad accusamus reiciendis? Molestiae voluptas
    quidem consequuntur placeat impedit voluptatum exercitationem earum quisquam
    dicta repudiandae sapiente accusantium doloremque nobis tempora odio unde
    quia ipsum, perferendis odit ipsam aperiam laborum vel, consequatur atque.
    Facilis commodi dolore laborum ipsam quas qui culpa, fugiat harum
    consequuntur atque facere nesciunt sunt officia natus iusto ut et aspernatur
    fugit quisquam repellendus mollitia debitis nulla pariatur exercitationem!
    Sequi autem minus voluptate tempore aliquid exercitationem eos voluptatum
    libero recusandae obcaecati officiis saepe eligendi consequuntur alias
    cumque illum harum necessitatibus distinctio quod odio, consequatur rem quo
    dolor debitis. Sint quidem explicabo, perspiciatis, ipsum itaque aliquam ut
    modi optio laboriosam consectetur doloremque pariatur. Ipsum, est sequi quod
    odit deleniti consectetur vero officia sunt aut enim voluptate et nobis quo
    quam harum laudantium reiciendis! Sunt assumenda magni sapiente alias saepe
    fuga pariatur incidunt aliquid odio laboriosam fugit ut, distinctio eius
    officia autem quia asperiores! Unde numquam accusantium vitae necessitatibus
    aliquam, excepturi quisquam incidunt delectus possimus, molestias ullam
    voluptates nisi repellendus, ut facilis mollitia eum praesentium laborum
    quas deleniti! Doloremque pariatur, fugit perferendis aut reprehenderit quod
    eius dolorem eligendi cupiditate officiis, ducimus molestiae nihil quo.
  </article>

  <img [src]="HorsePhoto" alt="dwarfHorse" />
</main>
