* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h3 {
  text-align: center;
  padding: 3rem;
  background-color: #53354a;
  color: #eee;
}
